.cardTag {
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  margin-right: 0.2em;
}

.cardContent {
  /* width */
  &::-webkit-scrollbar {
    width: 0.2em;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
