.tag-container {
  display: flex;
  flex-wrap: wrap;

  .cardTag {
    margin-right: 0.3em;

    &.cardTag-big {
      border-radius: 0.6em;
      padding: 0 0.6em;
      margin-bottom: 0.2em;
      p {
        font-size: 0.8em;
      }
    }
    &.cardTag-small {
      border-radius: 50%;
      height: 0.6em;
      width: 0.6em;
    }
  }
}

.cardContent {
  /* width */
  &::-webkit-scrollbar {
    width: 0.2em;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
